* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline:0;
    text-transform:none;
    list-style-type:none;
}

html, body {
    background-color:white;
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    border-left:3px solid #0077EE;
    padding:10px;
}


.form {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:360px;
    border-radius:4px;
    border:1px solid #ccc;
    padding:10px 15px;
}
label {
    display:block;
    margin-top:15px;
    margin-bottom:4px;
    text-transform: capitalize;
}
input {
    display:block;
    width:100%;
    padding:10px 5px;
    border-radius:4px;
    border:1px solid #CCC;
}

input[type="submit"] {
    margin-top:20px;
    background-color:#0077EE;
    border-color:#0077EE;
    color:#FFF;
    cursor:pointer;
}


#users,
#edit {
    display:inline-block;
    width:40%;
    position: relative;
    border-radius:4px;
    border:1px solid #CCC;
    margin:20px;
    padding:10px 0px;
}
#user {float:left;}
#edit {float:right;}
.user {
    border-bottom:1px solid #CCC;
    padding:10px 15px;
    cursor:pointer;
    transition:.2s;
}
.user:hover {
    background-color: rgba(0,0,0, .08);
}