<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="assignment 2">
    <meta name="viewport content " width="device-width, initial-scale=1">
    <title>WWW - eksamen</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>