{% extends "base.html" %} 
{% block body %}
<div class="loginbox">
    
    <div id="signup" class="form" onsubmit="submit(); return false;">
        <div id="errorRender"></div>

        <h2>Register</h2>
        <label>brukernavn (e-post adresse)</label>
        <input type="email" placeholder="John@gmail.com" id="email" name="email" required />

        <label>passord</label>
        <input type="password" placeholder="******" id="pass" name="pass" required />

        <label>fornavn</label>
        <input type="text" placeholder="John" id="first" name="first" required />

        <label>etternavn</label>
        <input type="text" placeholder="Doe" id="last" name="last" required />


        <input type="submit" value="Register" name="submit" id="submit" />
    </div>
    
</div>

<script>
    const submit = document.getElementById('submit');


    submit.addEventListener('click', () => {
        let errorRender = document.getElementById('errorRender');
        errorRender.innerHTML = ''; // resett render

        // run submit function for checking 
        submitData()
    });


    function submitData(event) {

        // input data
        let email = document.getElementById('email');
        let pass = document.getElementById('pass');
        let firstname = document.getElementById('first');
        let lastname = document.getElementById('last');


        // error handling
        let errorStatus = false;
        let errorMessage = [];


        // NOTE: Email check
        var emailPattern = new RegExp(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/);
        if(!emailPattern.test((email.value))) {
            errorStatus = true;
            errorMessage.push('E-post er ikke gyldig.');
        }

        // password verification
        if(pass.value.length < 8) {
            errorStatus = true;
            errorMessage.push('Passord må være minst 8 tegn.');
        }


        // validate name
        if(!firstname.value || !lastname.value) {
            errorStatus = true;
            errorMessage.push('Navn kan ikke være tomt.');
        }


        // handle error
        if(errorStatus) {
            let errorRender = document.getElementById('errorRender');
            errorRender.innerHTML = ''; // resett render
            errorMessage.forEach(error => {
                errorRender.innerHTML += `<p>${error}</p>`
            })
        }

        // nothing went wrong. insert to DB
        if(errorStatus === false) {
            console.log('running submit');
            var formData = new FormData();

            /** 
             * Works from postman, not from json.
            */
            fetch(`http://localhost:8080/oppgave1-3/www/backend/insertUser.php`, {
                // method of data
                method: 'POST',
                // no headers
                header: {},
                // idk how to explain, just do it!
                body: {
                    email: email.value,
                    pass: pass.value,
                    firstname: firstname.value,
                    lastname: lastname.value,
                },
            })
            // as JSON
            .then(res => res.json())
            // on response do this
            .then(response => {
                    if(response.result === false) {
                    // ERROR: success was false, what happend here?
                    console.log('error');

                } else {
                    // SUCCESS: success was true, do this
                    console.log('success');
                    console.log(response.user);
                }
            })
        }
    }
</script>
    
{% endblock %}